<div class="contenedor">
  <div class="container-fluid">
    <div class="hero">
        <div class="texto-hero text-center pt-5">
          <div class="row pt-3">
            <h3 class="texto">Hola, Soy {{persona.nombre}} {{persona.apellido}}</h3>
          </div>
          <div class="row">
            <h4 class="texto">Desarrollador FullStack Jr</h4>
          </div>
          <div class="row pt-2 pb-2">
            <h6 class="texto">Creo aplicaciones y paginas web para la necesidad del usuario</h6>
          </div>
          <div class="row pt-2 pb-3 justify-content-center"><img src="../../../assets/img/myPic.jfif" class="img" alt=""></div>
          <div class="pb-5">
            <button type="button" class="btn btn-outline-success2 texto"><a class="nav-link" download="" href="../../../assets/img/Nicolas A. Pastorini.pdf" tabindex="-1" aria-disabled="true">Descargar CV</a></button>
          </div>
          
       </div>
   </div>
   <div class="row align-items-center">
    <div class="col-2 offset-1 ml-1"><h1 class="texto2">Acerca de mi</h1></div>
  </div> 
  <div class="row">
    <div class="col-6 offset-1 mb-3"><span class="texto3">Soy estudiante de Desarrollador FullStack. Soy una persona proactiva, organizada
      y responsable, con buenas relaciones
      interpersonales y constante crecimiento. Cree proyectos orientado al back con tecnologias como</span>
    <br><span class="texto4">Angular,  Bootstrap,  Express,  Java Springboot,  MongoDB</span></div>
  </div>
  <div class="row align-items-center">
    <div class="col-2 offset-1 ml-1"><h1 class="texto2">Experiencia</h1></div>
  </div>
  <!-- Experiencia laboral Inicio -->
  <div class="row  justify-content-center">
    <div class="col-7 offset-1 mb-3">
      <table class="table table-sm pl-3 pr-3 text-white ">
        <thead>
          <tr>
            <th scope="col"> </th>
            <th scope="col"> </th>
            <th scope="col"> </th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Experiencia of expe">
            <td>{{Experiencia.nombreE}}</td>
            <td>{{Experiencia.descripcionE}}</td>
            <td>
              <button class="btn btn-light mx-1 my-1" *ngIf="isLogged" routerLink="editarExp/{{Experiencia.id}}"><i class="bi bi-pencil"></i></button>
              <button class="btn btn-danger mx-1 my-1" *ngIf="isLogged" (click)="delete(Experiencia.id)"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-lg-3">
        <button class="btn btn-outline-success2 texto" *ngIf="isLogged" routerLink="/nuevaExp">
          Nueva Experiencia
        </button>
      </div>
    </div>
    <!-- Experiencia laboral Fin -->
  </div>
  <div class="row justify-content-center">
    <div class="row align-items-center">
      <div class="col-2 offset-1 ml-1"><h1 class="texto2">Educación</h1></div>
    </div>
    <div class="row">
      <div class="col-6 offset-1 mb-3">
        <span class="text-white subtitulo">Desarrollador Full Stack, Argentina Programa | Feb 2022 al Ago 2022</span><br>
        <span class="text-white">• Front End: Angular, Bootstrap<br>
          • Back End: Java Springboot<br>
          • Base de datos: MySQL Server<br>
          • Control de versiones Git<br></span>
      </div>
      <div class="col-6 offset-1 mb-3">
        <span class="text-white subtitulo">Data Analytics, Coderhouse | Oct 2021 a Jul 2022</span><br>
        <span class="text-white">• Visualizacion de datos con Power BI<br>
          • Formulas DAX<br>
          • Base de datos: MySQL Server<br></span>
      </div>
    </div>
  </div>
</div>
</div>