.container-fluid{
    background: #020C1B;
}

.box{
    background: #233554;
}

.texto2{
    color: white !important;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0rem;  
    font-size: 1.1rem;
}
.texto3{
    color: white !important;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0rem;  
    font-size: 0.9rem;
}

.texto4{
    color: #64FFDA !important;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0rem;  
    font-size: 0.9rem;
}
.subtitulo{
    font-family: 'Poppins', sans-serif;
    font-size: 0.3rem;
}

.myExp{
    padding-top: 0.5rem;
}

.myExp2{
    padding-top: 0.5rem;
}
.githubIcon{
    margin-left: 0.5rem;
}