<div class="container-fluid">
    <div class="contenedor pt-3">
        <div class="row align-items-center">
            <div class="col-2 offset-1 ml-1"><h1 class="texto2">Proyectos</h1></div>
          </div>
        <div class="row justify-content-evenly">
            <div class="card g-col-4 myExp2" style="width: 18rem; margin-top: 1rem;">
                <img src="../../../assets/img/PortfolioImage.PNG" class="g-col-4 card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Portafolios hecho con Html, Css y funcionalidades con Javascript</p>
                  <div class="col">
                    <a href="https://github.com/NicoPastorini1/NicoPastorini1.github.io" target="_blank"><img src="../../../assets/img/github.png" width="10%" alt=""></a>
                    <a class="githubIcon" href="https://nicopastorini1.github.io/" target="_blank"><img src="../../../assets/img/redirect-icon-25.jpg" width="10%" alt=""></a>
                  </div>              
                </div>
              </div>
              <div class="card g-col-4 myExp" style="width: 18rem; margin-top: 1rem;">
                <img src="../../../assets/img/crudFront.PNG" class="g-col-4 card-img-top" alt="...">
                <div class="card-body justify-content">
                    <div class="col">
                        <p class="card-text">CRUD sobre ingreso de productos hecho con Angular, Express, MongoDB y Bootstrap</p>
                        <a href="https://github.com/NicoPastorini1" target="_blank"><img src="../../../assets/img/github.png" width="10%" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>