<div class="container-fluid pt-3 contenedor">
    <div class="contenedor">
        <div class="row align-items-center">
        <div class="col-2 offset-1 ml-1 mt-3"><h1 class="texto2">Contactame</h1></div>
      </div>
        <div class="form-contactme col-md-3 offset-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="col-md">
                        <div class="form-floating pb-3">
                          <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
                          <label for="floatingInputGrid">Email</label>
                        </div>
                        <div class="form-floating pb-3">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
                            <label for="floatingInputGrid">Su nombre</label>
                          </div>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Escribime lo que quieras!</label>
                    </div>
                </div>
            </div>
            
        </div>
</div>
</div>